<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- 设置全名称类的别名 -->
    <typeAliases>
        <typeAlias alias="Clock" type="com.xmc.entity.Clock"/>
    </typeAliases>

    <!-- 由spring扫描加载 不需要手动配置 -->
    <mappers>
    </mappers>

</configuration>